body
{
    background-size: cover;
}

.title
{
    font-size:30px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size:20px;
    color: black;
}

.div_speed
{
    float:left; 
}

.speed img
{
    width:200px;
    border-radius: 100px;
}

#speed
{
    font-size: 23px;
    margin:15px;
}

.volume
{
    float:right;
}

.volume img
{
    width:200px;
    border-radius:100px;
}

#vol
{
    font-size:23px;
    margin:15px;
}

.p_b
{
    width:130px;
    font-size:25px;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
}

.s_b
{
    width:130px;
    font-size:25px;
}